.u-section-1 .u-sheet-1 {
  min-height: 731px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 1.25rem;
  margin: 76px auto 0 211px;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 1.25rem;
  margin: 31px auto 0 211px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-size: 1.25rem;
  margin: 31px auto 0 211px;
  padding: 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-size: 1.25rem;
  margin: 31px auto 60px 211px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-btn-1 {
    margin-left: 11px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 11px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 11px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 11px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }
}